<ion-view align-title="left" view-title="Event">
  <ion-content>
      <div class="gambar_content">
            <div class="card">
                <div class="item item-text-wrap" ng-if="event.koordinat" style="padding:0">
                    <ui-gmap-google-map center='map.center' control='map.control' zoom='map.zoom' events="map.events">
                        <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id" control="marker.control" dorebuildall="true">
                        </ui-gmap-marker>
                    </ui-gmap-google-map>
                </div>
                <div class="item item-text-wrap">
                    <i class="icon ion-calendar"></i>
                    {{getDate(event.tanggal)}}
                </div>
                <div class="item item-text-wrap">
                    <i class="icon ion-clock"></i>
                    {{getTime(event.tanggal)}}
                </div>
                <div class="item item-divider">
                    <i class="icon ion-calendar"></i>
                    {{event.judul}}
                </div>
                <div class="item item-text-wrap" ng-if="event.gambar">
                    <img image-lazy-src="{{urlBase}}/{{event.gambar}}" class="img-jadwal" zoomable id="image-scrollable">
                </div>
                <div class="item item-text-wrap">
                    {{event.deskripsi}}
                </div>
            </div>
      </div>
  </ion-content>
</ion-view>
