<ion-view align-title="left" view-title="Event">
  <ion-content>
      <div class="gambar_content">
            <div class="card">
                <div class="item item-text-wrap">
                    <i class="icon ion-calendar"></i>
                    {{event.tanggal}}
                </div>
                <div class="item item-divider">
                    <i class="icon ion-calendar"></i>
                    {{event.judul}}
                </div>
                <div class="item item-text-wrap">
                    {{event.deskripsi}}
                </div>
            </div>
      </div>
  </ion-content>
</ion-view>
