<ion-view align-title="left" view-title="Gambar">
    <ion-content>
        <ion-refresher
                             pulling-text="Pull to refresh..."
                             on-refresh="doRefresh()">
        </ion-refresher>
        <div class="gambar_content">
            
            <div class="content-wrap" ng-repeat="content in contents | filter : filterGambar">
                <div class="row content" >
                    <div class="col col-33" ng-click="detail({{contents[getid(content)].id_content}})">
                        <div class="img-content" image-lazy-src="{{urlBase}}/{{getThumb(contents[getid(content)].body)}}" image-lazy-background-image="true">
                        </div>
                    </div>

                    <div class="col col-33" ng-click="detail({{contents[getid(content)+1].id_content}})">
                        <div class="img-content" image-lazy-src="{{urlBase}}/{{getThumb(contents[ getid(content)+ 1].body)}}" image-lazy-background-image="true">
                        </div>
                    </div>


                    <div class="col col-33"  ng-click="detail({{contents[getid(content) + 2].id_content}})">
                        <div class="img-content" image-lazy-src="{{urlBase}}/{{getThumb(contents[getid(content) + 2].body)}}" image-lazy-background-image="true">
                        </div>
                    </div>
                </div>
            </div>
      </div>
  </ion-content>
</ion-view>
