<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-content class="sidemenu">
            <ion-list>
                <ion-item class="item-divider">
                    Content
                </ion-item>
                <ion-item menu-close href="#/app/search" class="item-icon-left">
                    <i class="icon ion-chatbubble-working"></i>
                    Gambar
                </ion-item>
                <ion-item menu-close href="#/app/browse" class="item-icon-left">
                    <i class="icon ion-social-youtube"></i>
                    Video
                </ion-item>
                <ion-item menu-close href="#/app/playlists" class="item-icon-left">
                    <i class="icon ion-mic-a"></i>
                    Audio
                </ion-item>
                <ion-item class="item-divider">
                </ion-item>
                <ion-item menu-close href="#/app/playlists" class="item-icon-left">
                    <i class="icon ion-calendar"></i>
                    Jadwal
                </ion-item>
                <ion-item menu-close href="#/app/playlists" class="item-icon-left">
                    <i class="icon ion-android-calendar"></i>
                    Event
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
